<ion-row *ngFor="let item of row">
  <ion-col
  sizeLg="3"
  sizeMd="4"
  sizeXs="6"
  
>
  <div class="filterDataGrid">
    <ion-list>
      <ion-item >
        
        <ion-card>
          <div class="cardImg" >
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
          </div>
          <ion-card-content>
            <h4>
              <ion-skeleton-text animated></ion-skeleton-text>
            </h4>
            <h5> <ion-skeleton-text animated></ion-skeleton-text></h5>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
 </ion-col>
 <ion-col
  sizeLg="3"
  sizeMd="4"
  sizeXs="6"
  
>
  <div class="filterDataGrid">
    <ion-list>
      <ion-item >
        
        <ion-card>
          <div class="cardImg" >
            <ion-avatar slot="start">
              <ion-skeleton-text animated></ion-skeleton-text>
            </ion-avatar>
          </div>
          <ion-card-content>
            <h4>
              <ion-skeleton-text animated></ion-skeleton-text>
            </h4>
            <h5> <ion-skeleton-text animated></ion-skeleton-text></h5>
          </ion-card-content>
        </ion-card>
      </ion-item>
    </ion-list>
  </div>
 </ion-col>
 </ion-row>
