
<ion-header>
  <ion-toolbar>
    <ion-button class="left backArrow">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="psmlPmdrElement">Campaigns Jobs</ion-title>
    <ion-button class="right addNewButton">
        <span>Add New</span>
        <ion-icon name="add-circle"></ion-icon>
    </ion-button>    
  </ion-toolbar>
</ion-header>

<ion-content class="upperCaseWrap">
    <div class="commonWrap lightBgColor">
      <ion-grid>
        <ion-row>
          <ion-col class="editCampaignGrid" sizeMd="6">
              <div class="editCampaignGrid__img">
                  <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
          </ion-col>
          <ion-col class="editCampaignGrid" sizeMd="6">
              <div class="editCampaignGrid__info">
                  <ion-button expand="full" slot="end">
                     <span><ion-icon name="create-outline"></ion-icon> <span>Edit Campaign</span></span>
                  </ion-button>
                  <ion-button expand="full" slot="end">
                     <span><ion-icon name="wallet"></ion-icon> <span>Wallet</span> <ion-icon name="add-circle"></ion-icon></span>
                  </ion-button>
                  <h5 class="price">$525.55</h5>
              </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col class="editCampaignContent" size="12">
              <h4>The standard Lorem Ipsum passage</h4>
              <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old.</p>
              <h5>Active: <span class="lightBlue">5 Jobs</span></h5>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="commonWrap whiteBgColor">
        <div class="headingText mb">
            <ion-title>Active Jobs</ion-title>            
        </div>
        <ion-grid>
          <div class="commonBorderBg">
            <ion-row>
                <ion-col class="activeJobsGrid" size="5">
                    <div class="activeJobsGrid__img">
                      <img src="../../assets/images/activejob.jpg" alt="ion" />
                    </div>
                </ion-col>
                <ion-col class="activeJobsGrid" size="7">
                    <div class="activeJobsGrid__info">
                      <ion-button class="ellipsisBuuton"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
                      <h5>Influencers: <span class="lightBlue">5 Jobs</span></h5>
                      <h5>Duration Time: <span class="lightBlue">30 Sec.</span></h5>
                      <h5>Duration Days: <span class="lightBlue">15 Days</span></h5>
                      <h5>Price: <span class="lightBlue">$50/Influencer</span></h5>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="categoryTech" size="5">
                    <h5>Category: <span class="lightBlue">Tech</span></h5>
                </ion-col>
                <ion-col class="socialPlatforms" size="7">
                    <h5>Platforms:</h5>
                    <ion-list>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-youtube"></ion-icon></a></ion-item>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-twitter"></ion-icon></a></ion-item>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-instagram"></ion-icon></a></ion-item>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-facebook"></ion-icon></a></ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="editCampaignContent" size="12">
                    <h4>Campaigning Job Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </ion-col>
            </ion-row>
          </div>
          <div class="commonBorderBg">
            <ion-row>
                <ion-col class="activeJobsGrid" size="5">
                    <div class="activeJobsGrid__img">
                      <img src="../../assets/images/activejob.jpg" alt="ion" />
                    </div>
                </ion-col>
                <ion-col class="activeJobsGrid" size="7">
                    <div class="activeJobsGrid__info">
                      <ion-button class="ellipsisBuuton"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button>
                      <h5>Influencers: <span class="lightBlue">5 Jobs</span></h5>
                      <h5>Duration Time: <span class="lightBlue">30 Sec.</span></h5>
                      <h5>Duration Days: <span class="lightBlue">15 Days</span></h5>
                      <h5>Price: <span class="lightBlue">$50/Influencer</span></h5>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="categoryTech" size="5">
                    <h5>Category: <span class="lightBlue">Tech</span></h5>
                </ion-col>
                <ion-col class="socialPlatforms" size="7">
                    <h5>Platforms:</h5>
                    <ion-list>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-youtube"></ion-icon></a></ion-item>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-twitter"></ion-icon></a></ion-item>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-instagram"></ion-icon></a></ion-item>
                      <ion-item><a href="javascript:;"><ion-icon name="logo-facebook"></ion-icon></a></ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="editCampaignContent" size="12">
                    <h4>Campaigning Job Title</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                </ion-col>
            </ion-row>
          </div>
        </ion-grid>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <div class="bottomFixedLinks">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="home-outline"></ion-icon>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Chat</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="notifications-outline"></ion-icon>
              <span>Notification</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="person-outline"></ion-icon>
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </div>
  </ion-toolbar>
</ion-footer>
