@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  word-wrap: break-word;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

li, p, span, label, input, select, textarea, button {
  font-family: 'Montserrat', sans-serif;
}

ion-title, ion-card-title, ion-card-subtitle, ion-toolbar, ion-list, ion-item, ion-label, ion-input, ion-select, ion-textarea, ion-button {
  font-family: 'Montserrat', sans-serif;
}

ion-select {
  background-image: url("../../assets/icon/down-arrow.svg");
  background-position: 97% center;
  background-size: 16px;
  background-repeat: no-repeat;
  --placeholder-opacity: 1;
}

ion-select::part(icon) {
  display: none !important;
}

input:focus,
select:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

a,
button,
textarea {
  transition: ease 0.3s;
  -webkit-transition: ease 0.3s;
  -moz-transition: ease 0.3s;
  text-decoration: none;
  outline: none !important;
  color: inherit;
  font-size: inherit;
  resize: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

/*Fonts*/
/*Colors*/
