<ion-header>
  <ion-toolbar>
    <ion-button class="left backArrow" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="pxElement">Chat</ion-title>
    <ion-button class="right menuButton" (click)="openMenu()">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="upperCaseWrap">
  <div class="commonWrap">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="searchFilters colorChanges">
          <ion-row>
            <ion-col
              ><ion-searchbar
                class="searchInfluencer"
                placeholder="Search..."
              ></ion-searchbar
            ></ion-col>
          </ion-row>
        </ion-col>
        <ion-col size="12" class="userListOuter">
          <ion-list>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
              <div class="notification">2</div>
            </ion-item>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
              <div class="notification">5</div>
            </ion-item>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
              <div class="notification">1</div>
            </ion-item>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
              <div class="notification">1</div>
            </ion-item>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
              <div class="notification">2</div>
            </ion-item>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
            </ion-item>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
            </ion-item>
            <ion-item class="userList">
              <div class="userList__img">
                <span class="userActive"></span>
                <img src="../../assets/images/activejob.jpg" alt="ion" />
              </div>
              <div class="userList__info">
                <h4><span>Alan Walke</span> <small>20 min. ago</small></h4>
                <p>Sounds good catch you later match.</p>
              </div>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
<!-- <app-footer-nav></app-footer-nav> -->
