
<ion-header>
  <ion-toolbar>
    <ion-button class="left backArrow">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="pxElement">Job Details</ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content class="upperCaseWrap">
    <div class="commonWrap whiteBgColor">
        <!-- <div class="headingText mb">
            <ion-title>Active Jobs</ion-title>            
        </div> -->
        <ion-grid>
          <div class="commonBorderBg">
            <ion-row>
                <ion-col class="activeJobsGrid" size="5">
                    <div class="activeJobsGrid__img">
                      <img src="../../assets/images/activejob.jpg" alt="ion" />
                    </div>
                </ion-col>
                <ion-col class="activeJobsGrid" size="7">
                    <div class="activeJobsGrid__info">
                      <!-- <ion-button class="ellipsisBuuton"><ion-icon name="ellipsis-vertical"></ion-icon></ion-button> -->
                      <h5>Duration Time: <span class="lightBlue">30 Sec.</span></h5>
                      <h5>Duration Days: <span class="lightBlue">15 Days</span></h5>
                      <h5>Price: <span class="lightBlue">$50/Influencer</span></h5>
                    </div>
                </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="editCampaignContent" size="12">
                  <h4>Campaigning Job Title</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </ion-col>
            </ion-row>
            <ion-row>
                <ion-col class="categoryTech" size="6">
                    <h5>Influencers: <span class="lightBlue">5 Jobs</span></h5>
                </ion-col>
                <ion-col class="socialPlatforms" size="6">
                    <h5>Category: <span class="lightBlue">Tech</span></h5>
                </ion-col>
            </ion-row> 
            <ion-row>
               <ion-col class="videoPart" size="12">
                  <img class="playIocn" src="../../assets/icon/play-icon.svg" alt="ion" />
                  <img class="videoElement" src="../../assets/images/video-img.png" alt="ion" />
               </ion-col>
                <ion-col class="socialPlatForms" size="12">
                    <h5>Platforms</h5>
                    <ion-list>
                      <ion-item>
                         <a href="#"><img src="../../assets/icon/instagram-icon.svg" alt="ion" /></a>
                      </ion-item>
                      <ion-item>
                         <a href="#"><img src="../../assets/icon/facebook-icon.svg" alt="ion" /></a>
                      </ion-item>
                      <ion-item>
                         <a href="#"><img src="../../assets/icon/youtube-icon.svg" alt="ion" /></a>
                      </ion-item>
                      <ion-item>
                         <a href="#"><img src="../../assets/icon/twitter-icon.svg" alt="ion" /></a>
                      </ion-item>
                      <ion-item>
                         <a href="#"><img src="../../assets/icon/tiktok-icon.svg" alt="ion" /></a>
                      </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>        
          </div>
        </ion-grid>
    </div>
    <div class="commonWrap">
      <div class="buttonOuter flexColWrap mt-0">
        <div class="buttonOuter__item">
          <ion-button class="formButton formButton--cancel" type="submit">Decline</ion-button>
        </div>
        <div class="buttonOuter__item">
          <ion-button class="formButton" type="submit">Accept</ion-button>
        </div>
      </div>
    </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <div class="bottomFixedLinks">
        <ul>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="home-outline"></ion-icon>
              <span>Home</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="chatbubbles-outline"></ion-icon>
              <span>Chat</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="notifications-outline"></ion-icon>
              <span>Notification</span>
            </a>
          </li>
          <li>
            <a href="javascript:void(0);">
              <ion-icon name="person-outline"></ion-icon>
              <span>Profile</span>
            </a>
          </li>
        </ul>
      </div>
  </ion-toolbar>
</ion-footer>
