<ion-header>
  <ion-toolbar>
    <ion-button class="left backArrow" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="pxElement">Campaign</ion-title>
    <ion-button class="right addNewButton" routerLink="/create-campaign">
      <span>Add New</span>
      <ion-icon name="add-circle"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="upperCaseWrap">
  <div class="commonWrap">
    <ion-grid>
      <ion-row>
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--1-->
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--2-->
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--3-->
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--4-->
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--5-->
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--6-->
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--7-->
        <ion-col class="campaignGrid" size="12" sizeMd="6" sizeLg="4">
          <ion-card class="campaignGrid__item">
            <ion-card-header>
              <img src="../../assets/images/activejob.jpg" alt="" />
            </ion-card-header>
            <ion-card-content>
              <ion-card-title>The standard Lorem Ipsum passage</ion-card-title>
              <ion-card-subtitle>Active: <span>5</span></ion-card-subtitle>
              <ion-toolbar>
                <ion-button class="commonButton" slot="end">
                  <span>View More</span>
                  <ion-icon name="chevron-forward-outline"></ion-icon>
                </ion-button>
              </ion-toolbar>
            </ion-card-content>
          </ion-card> </ion-col
        ><!--8-->
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
