<ion-header>
  <ion-toolbar>
    <ion-button class="left backArrow" (click)="goBack()">
      <ion-icon name="arrow-back-outline"></ion-icon>
    </ion-button>
    <ion-title class="pxElement">Influencers Profile</ion-title>
    <ion-button class="right menuButton" (click)="openMenu()">
      <ion-icon name="menu-sharp"></ion-icon>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="upperCaseWrap">
  <app-preloader
    [rowNumber]="4"
    [template]="'profile'"
    *ngIf="isProfilePreloader"
  ></app-preloader>
  <ion-row *ngIf="!allAccountData?.user && !isProfilePreloader">
    <ion-col size="12">
      <app-no-data></app-no-data>
    </ion-col>
  </ion-row>
  <div
    class="heroImage"
    *ngIf="allAccountData?.user?.email && !isProfilePreloader"
  >
    <img src="../../assets/images/dodge.jpg" alt="ion" />
  </div>
  <div
    class="influencersProfile"
    *ngIf="allAccountData?.user?.email && !isProfilePreloader"
  >
    <div class="commonWrap">
      <ion-grid>
        <ion-row>
          <ion-col size="9">
            <div class="influencerInfo">
              <div class="influencerImage">
                <img
                  [src]="[allAccountData?.user?.image]"
                  alt="ion"
                  onError="src = './../assets/images/client-image.jpg'"
                />
              </div>
              <div class="influencerName">
                <h4>
                  {{allAccountData?.user?.first_name &&
                  allAccountData?.user?.first_name != undefined &&
                  allAccountData?.user?.first_name !=
                  null?allAccountData?.user?.first_name:'' +
                  allAccountData?.user?.last_name &&
                  allAccountData?.user?.last_name != undefined &&
                  allAccountData?.user?.last_name !=
                  null?allAccountData?.user?.last_name:''}}
                  <span class="countryFlag"
                    ><img
                      *ngIf="allAccountData?.user?.country_flag"
                      [src]="allAccountData?.user?.country_flag"
                      alt="ion"
                  /></span>
                </h4>
                <div
                  class="starRating"
                  *ngIf="allAccountData?.rating?.total_users > 0"
                >
                  <span
                    [innerHTML]="sanitizer.bypassSecurityTrustHtml(getRatingStar(allAccountData?.rating?.average))"
                  ></span>
                  <span
                    >{{allAccountData?.rating?.average}}*
                    ({{allAccountData?.rating?.total_users}} Users)</span
                  >
                </div>
                <h5>
                  {{allAccountData?.user?.category ?
                  allAccountData?.user?.category_type?.name : ''}}
                </h5>
              </div>
            </div>
          </ion-col>
          <ion-col size="3">
            <div class="hireButton">
              <ion-button class="commonButton" expand="block">Hire</ion-button>
            </div>
          </ion-col>
          <ion-col
            size="12"
            *ngIf="allAccountData?.userPlatforms && allAccountData?.userPlatforms.length > 0"
          >
            <div class="influencerSocialMedia">
              <ion-list>
                <ion-item *ngFor="let social of allAccountData?.userPlatforms">
                  <img
                    *ngIf='social?.slug == "Instagram"'
                    src="../../assets/icon/instagram-icon.svg"
                    alt="ion"
                  />
                  <img
                    *ngIf='social?.slug == "Facebook"'
                    src="../../assets/icon/facebook-icon.svg"
                    alt="ion"
                  />
                  <img
                    *ngIf='social?.slug == "Youtube"'
                    src="../../assets/icon/youtube-icon.svg"
                    alt="ion"
                  />
                  <img
                    *ngIf='social?.slug == "Tiktok"'
                    src="../../assets/icon/twitter-icon.svg"
                    alt="ion"
                  />
                  <img
                    *ngIf='social?.slug == "Twitter"'
                    src="../../assets/icon/tiktok-icon.svg"
                    alt="ion"
                  />
                  <span
                    ><a href=""
                      >{{social?.username && social?.username != null &&
                      social?.username != undefined ?social.username:''}}</a
                    ></span
                  >

                  <h5 class="followersCounter" *ngIf="social?.followers > 0">
                    {{social?.followers}} Followers
                  </h5>
                </ion-item>
              </ion-list>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>

  <app-preloader [rowNumber]="4" *ngIf="isProfilePreloader"></app-preloader>
  <div
    class="influencersPriceInfo"
    *ngIf="allAccountData?.user?.email && !isProfilePreloader"
  >
    <div
      class="commonWrap"
      *ngIf="allAccountData?.planCategories && allAccountData?.planCategories.length > 0"
    >
      <ion-grid *ngFor="let plan of allAccountData?.planCategories">
        <ion-row
          *ngIf='(plan?.slug == "Music-Promotions" || plan?.slug == "Video") && plan?.plans_front.length > 0'
        >
          <ion-col size="12">
            <ion-toolbar class="headingText">
              <ion-title slot="start"
                >{{plan?.name != null && plan?.name !=
                undefined?plan?.name:''}}</ion-title
              >
              <ion-title class="seeAllText" slot="end"
                ><a href="javascript:void(0);">See All</a></ion-title
              >
            </ion-toolbar>
          </ion-col>
          <ion-col
            sizeLg="3"
            sizeMd="4"
            sizeXs="6"
            *ngFor="let planDetail of plan?.plans_front|slice:0:4"
          >
            <div class="influencersPriceGrid">
              <div class="influencersPriceItem">
                <h4>
                  {{$any(planDetail)?.price != null && $any(planDetail)?.price
                  != undefined && $any(planDetail)?.price !=
                  ''?'$'+$any(planDetail)?.price:''}}
                </h4>
                <p>
                  {{$any(planDetail)?.description != null &&
                  $any(planDetail)?.description !=
                  undefined?$any(planDetail)?.description:''}}
                </p>
              </div>
              <a href="javascript:void(0);"
                ><span>Add to Promotion</span>
                <ion-icon name="chevron-forward"></ion-icon>
              </a>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
</ion-content>
<app-footer-nav></app-footer-nav>
