.image-div {
  display: flex;
  justify-content: center;
}

.userImage {
  width: 90px;
  height: 90px;
  border: solid 1px white;
  border-radius: 20px;
}
.profileMenu {
  ion-content {
    min-height: 400px;
  }
}
