<ion-header>
  <ion-toolbar>
      <ion-button class="left backArrow backArrow--middle">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
      <ion-title class="pxElement">Alan Walker <span>Skin And beauty care</span></ion-title>
      <ion-button class="right userLogin">
        <div class="userLogin">
          <span class="userActive"></span>
          <img src="../../assets/images/user-login-img.jpg" alt="ion" />
        </div>
      </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content class="upperCaseWrap">
  <div class="commonWrap">
    <ion-grid>
      <ion-row>
        <ion-col size="12" class="chatMessageOuter">
            <ion-list class="clientChat">
              <ion-item class="clientChatItem">
                <div class="clientChatItem__img">
                  <img src="../../assets/images/user-login-img.jpg" alt="ion" />
                </div>
                <div class="clientChatItem__message">
                  <div>
                    <p>How's it going with the rebrand? Can't wait to see the concepts.</p>
                  </div>
                  <span>06:30 PM, Tuesday</span>
                </div>
              </ion-item>
            </ion-list>
            <ion-list class="userChat">
              <ion-item class="userChatItem">
                <div class="userChatItem__message">
                  <div>
                    <p>All Done</p>
                  </div>
                  <span>06:35 PM, Tuesday</span>
                </div>
              </ion-item>
            </ion-list>
            <ion-list class="clientChat">
              <ion-item class="clientChatItem">
                <div class="clientChatItem__img">
                  <img src="../../assets/images/user-login-img.jpg" alt="ion" />
                </div>
                <div class="clientChatItem__message">
                  <div>
                    <p>Awsome!</p>
                  </div>
                  <div>
                    <p>Can you send it? Would love a look!</p>
                  </div>
                  <span>06:30 PM, Tuesday</span>
                </div>
              </ion-item>
            </ion-list>
            <ion-list class="userChat">
              <ion-item class="userChatItem">
                <div class="userChatItem__message">
                  <div>
                    <p>I'll send the rest over tomorrow when i get home. I'm out of town at the moment, got an early train in the morning.</p>
                  </div>
                  <span>06:35 PM, Tuesday</span>
                </div>
              </ion-item>
            </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar>
      <div class="WriteMessageWrap">
          <ion-button class="addButton">
             <ion-icon name="add-outline"></ion-icon>
          </ion-button>
          <form action="">
              <div class="formGroup">  
                 <ion-input class="formField" type="text" placeholder="Write a message..." value=""></ion-input>    
              </div>
              <div class="formButton">  
                 <ion-button>Send</ion-button>    
              </div>
          </form>
      </div>
  </ion-toolbar>
</ion-footer>

