<ion-footer>
  <ion-toolbar>
    <ion-col size="12" class="bottomFixedLinks">
      <ion-list>
        <ion-item>
          <a href="javascript:void(0);" (click)="goPage('browse-influencers')">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </ion-item>
        <ion-item>
          <a href="javascript:void(0);" (click)="goPage('chat')">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <span>Chat</span>
          </a>
        </ion-item>
        <ion-item>
          <a href="javascript:void(0);" (click)="goPage('notification')">
            <ion-icon name="notifications-outline"></ion-icon>
            <span>Notification</span>
          </a>
        </ion-item>
        <ion-item>
          <a href="javascript:void(0);" (click)="goPage('profile')">
            <ion-icon name="person-outline"></ion-icon>
            <span>Profile</span>
          </a>
        </ion-item>
      </ion-list>
    </ion-col>
  </ion-toolbar>
</ion-footer>
