<ion-footer>
  <ion-toolbar>
    <div class="bottomFixedLinks">
      <ul>
        <li>
          <a href="javascript:void(0);" (click)="goPage('browse-influencers')">
            <ion-icon name="home-outline"></ion-icon>
            <span>Home</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="goPage('chat')">
            <ion-icon name="chatbubbles-outline"></ion-icon>
            <span>Chat</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="goPage('notification')">
            <ion-icon name="notifications-outline"></ion-icon>
            <span>Notification</span>
          </a>
        </li>
        <li>
          <a href="javascript:void(0);" (click)="goPage('profile')">
            <ion-icon name="person-outline"></ion-icon>
            <span>Profile</span>
          </a>
        </li>
      </ul>
    </div>
  </ion-toolbar>
</ion-footer>
