/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

/*ion Searchbar Style*/
ion-searchbar {
  .searchbar-input-container {
    .searchbar-input {
      background-color: transparent;
      &.sc-ion-searchbar-md {
        font-size: 14px;
        font-weight: 500;
        color: #ababab;
        -webkit-padding-start: 30px;
        padding-inline-start: 30px;
        -webkit-padding-end: 30px;
        padding-inline-end: 30px;
      }
    }
    .searchbar-search-icon {
      &.sc-ion-searchbar-md {
        left: 5px;
        width: 18px;
        height: 20px;
        opacity: 0.4;
      }
    }
    .searchbar-clear-button {
      &.sc-ion-searchbar-md {
        right: 5px;
        opacity: 0.4;
      }
    }
  }
}

.colorChanges {
  ion-searchbar {
    .searchbar-search-icon {
      &.sc-ion-searchbar-md {
        color: #35b6f7;
        opacity: 1;
      }
    }
  }
}
.is-invalid {
  border: solid 1px red !important;
}
.is-invalid {
  border: solid 1px #f00 !important;
}
.invalid-feedback {
  text-align: left;
  color: #f00 !important;
  font-size: 12px;
  padding: 5px 5px 5px 12px;
}

.toasts-css-error {
  --background: #d40808;
  --color: white;
  font-size: 17px;
  font-weight: 500;
  font-family: system-ui;
}
.toasts-css {
  --background: #50b322;
  --color: white;
  font-size: 17px;
  font-weight: 500;
  font-family: system-ui;
}
.toast-button-cancel {
  color: #222428;
}

.confirmation-alert {
  --max-width: 300px;
}
.no-more {
  font-size: 18px;
  color: #aaadb1;
  text-align: center;
  width: 100%;
  float: left;
}
